.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  width: 400px;
  min-height: 100px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1000px;
}

.movie-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
}

.movie-cover {
  width: 100px; /* Adjust size */
  height: auto;
  border-radius: 5px;
}

h1 {
  margin: 0;
  font-size: 20px;
}

.checkout {
  border-radius: 10px;
}

.divider {
  color: black;
  width: 99%;
}

.remove-button-container {
  width: 10px;
}

.image-test {
  display: block;
  margin-bottom: 0px;
}

b {
  margin-right: 5px;
}

.title {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.checkout {
  cursor: pointer;
}

.total-amount-container {
  text-align: center;
  margin-bottom: 0px;
}
