<div class="wrapper">
  <h1 class="title">Booked projections</h1>
  <div *ngFor="let movie of bookedMovies; let i = index" class="movie-container">
    <div class="movie-cover-container">
      <img [src]="movie!.coverImage" class="movie-cover" />
    </div>
    <div class="movie-details">
      <h1>{{ movie!.name }}</h1>
      <p>
        <b><i>Projection date: </i></b> {{ movie!.dateOfShowing }}
      </p>
      <p>
        <b><i>Total: </i></b> {{ movie.price }}$ x {{ movie.numberOfTickets }} =
        {{ movie.price * movie.numberOfTickets }}$
      </p>
      <button
        (click)="removeReservation(i)"
        class="mdc-fab mat-mdc-fab-base mdc-fab--mini mat-mdc-mini-fab mat-accent mat-mdc-button-base checkout"
      >
        <i class="fa-solid fa-trash remove-button"></i>
      </button>
    </div>
  </div>
  <div class="total-amount-container">
    <h2 class="total-amount">Total Amount: {{ totalAmount }}$</h2>
  </div>
</div>
