<mat-toolbar color="primary">
  <div class="logo-button">
    <a routerLink="/home"><img mat-card-image class="image-test" src="../../assets/popcorn.ico" /> </a>
  </div>

  <span class="spacer"></span>

  <a routerLink="/search" mat-button class="nav-bar-link nav-bar-margin-top"
    ><i class="fa-solid fa-magnifying-glass"></i
  ></a>
  <a routerLink="/login" mat-button class="nav-bar-link nav-bar-margin-top"
    ><i class="fa-solid fa-right-to-bracket"></i> LogIn</a
  >
  <a routerLink="/register" mat-button class="nav-bar-link nav-bar-margin-top"
    ><i class="fa-solid fa-user"></i> Register</a
  >
  <div clas="cart">
    <a routerLink="/cart" mat-button class="nav-bar-link nav-bar-margin-top cart"
      ><i class="fa-solid fa-cart-shopping"></i>
    </a>
  </div>
</mat-toolbar>
<router-outlet />
