<mat-toolbar color="primary">
  <div class="logo-button">
    <span><i class="fa-solid fa-film .margin-top-10px"></i> Cineman</span>
  </div>
  <a routerLink="/about" mat-button class="nav-bar-link nav-bar-margin-top"
    >About</a
  >
  <a routerLink="/search" mat-button class="nav-bar-link nav-bar-margin-top"
    >Search</a
  >
  <span class="spacer"></span>
  <a routerLink="/about" mat-button class="nav-bar-link nav-bar-margin-top"
    ><i class="fa-solid fa-right-to-bracket"></i> LogIn</a
  >
  <a routerLink="/search" mat-button class="nav-bar-link nav-bar-margin-top"
    ><i class="fa-solid fa-user"></i> Register</a
  >
</mat-toolbar>
<router-outlet />
