.container {
  display: inline;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 235px;
  margin-bottom: 50px;
}

.location-filter {
  margin-right: 50px;
}

ul {
  display: block;
  margin-left: 240px;
  margin-right: auto;
  margin-top: 0;
}

li {
  list-style: none;
  display: inline-block;
  outline: 0;
  margin-right: 100px;
  width: fit-content;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  outline: 0;
}

img {
  width: 260px;
  height: 400px;
  margin-bottom: 10px;
  object-fit: cover;
}

figcaption {
  margin-bottom: 100px;
  color: white;
  font-size: 17px;
}

.dateOfRelease {
  color: rgb(177, 170, 170);
  font-size: 15px;
}

li img:hover {
  filter: brightness(80%);
  box-shadow: 0 4px 12px 0 rgba(165, 163, 163, 0.24), 0 14px 12px 0 rgba(136, 133, 133, 0.19);
}

li:hover figcaption {
  color: rgb(172, 170, 170);
}
