ul {
  display: block;
  margin-left: 240px;
  margin-right: auto;
  margin-top: 0;
}

li {
  list-style: none;
  display: inline-block;
  outline: 0;
  margin-right: 100px;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  outline: 0;
}

img {
  width: 260px;
  height: 400px;
  margin-bottom: 0px;
}

figcaption {
  margin-top: 0px;
  margin-bottom: 100px;
  color: white;
  font-size: 17px;
}

.dateOfRelease {
  color: rgb(177, 170, 170);
  font-size: 15px;
}
