.wrapper {
  margin-left: 300px;
  margin-top: 60px;
  display: flex;
  color: white;
}

.movie-cover {
  margin-right: 50px;
}

.movie-details h1,
h2,
h3 {
  margin-top: 10px;
}

h2,
h3 {
  color: rgb(187, 184, 184);
}

.movie-details-description {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 600px;
}

b {
  font-size: 20px;
  margin-right: 10px;
}

button {
  background-color: white;
  margin-top: 30px;
  margin-left: 50px;
}

button i {
  color: black;
}

.button-minus {
  margin-left: 10px;
}

.button-plus {
  margin-right: 10px;
}

.reservation {
  height: 10px;
}

.checkout-button {
  margin-left: 100px;
  border-radius: 10%;
}

button:hover,
.checkout-button:hover {
  filter: brightness(80%);
  box-shadow: 0 4px 12px 0 rgba(165, 163, 163, 0.24), 0 14px 12px 0 rgba(136, 133, 133, 0.19);
}

.ticket-price {
  margin-top: 50px;
}
