.signup-form {
  width: 450px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 60px;
}

.width-full {
  width: 100%;
}

.image-test {
  height: 448px;
  width: 400px;
  margin-right: 60px;
  margin-left: -60px;
  margin-top: 140px;
}

.container {
  margin-left: -60px;
}
